<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.edu.wat.wcy.isi.tim.filharmoniaapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".view.activities.TicketDetailsActivity"
            android:label="@string/title_activity_ticket_details" />
        <activity android:name=".view.activities.PaymentActivity"
            android:label="@string/title_activity_payment"/>
        <activity android:name=".view.activities.DiscountActivity"
            android:label="@string/title_activity_discount"/>
        <activity android:name=".view.activities.SelectSeatActivity"
            android:label="@string/title_activity_selectseat"/>
        <activity android:name=".view.activities.ConcertActivity"
            android:label="@string/title_activity_concert"/>
        <activity android:name=".view.activities.RepertoireActivity"
            android:label="@string/title_activity_repertoire"/>
        <activity
            android:name=".view.activities.TicketsActivity"
            android:label="@string/title_activity_tickets"
            android:parentActivityName=".view.activities.MainActivity"/>
        <activity android:name=".view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>